{% extends 'base.html.twig' %}

{% block title %}Conditions générales de vente - CGV {% endblock %}

{% block main %}
<h3>Conditions générales de vente</h3>
<h4>PRÉAMBULE</h4>

<p>Vous êtes actuellement connecté au site www.bc-sissi.com (ci-après le « Site »).<br>

Pour nous contacter : Courriel : info@bc-sissi.com<br>

Vous reconnaissez avoir pris connaissance des conditions générales de ventes (« CGV ») ci-après. La validation du bon de commande en cliquant sur « Suivant » à l’étape 4 du processus de passation de commande vaut acceptation pleine et entière des présentes CGV. Cette étape précède le paiement.</p><br>

<h4>Article 1 <br> Application des CGV</h4>

<p>Les présentes CGV s'appliquent de façon exclusive entre la société Biscuiterie Chocolaterie Sissi (ci-après « la société ») et toute personne visitant ou effectuant un achat via le site www.lechocolat-alainducasse.com (ci-après le « Client »).

Aucune condition particulière ne peut, sauf acceptation formelle et écrite de la part de Cabosse & Associés, prévaloir sur les CGV.

Toute condition contraire opposée par le Client sera donc, à défaut d'acceptation expresse, inopposable à Cabosse & Associés, quel que soit le moment où elle aura été portée à sa connaissance.

Le fait que la société ne se prévale pas, à un moment donné, de l'une quelconque des CGV ne peut être interprété comme valant renonciation à se prévaloir ultérieurement de l'une quelconque desdites conditions.

Ces conditions s'appliquent à l'exclusion de toutes autres conditions, notamment celles en vigueur sur d’autres sites internet ou d’autres supports commercialisant les mêmes produits.</p><br>

<h4>Article 2 <br> Procédure de passation et de confirmation de la commande</h4>

<h5>2.1 Passation de la commande</h5>

<p>Les commandes sont passées via notre site Internet www.lechocolat-alainducasse.com (ci-après le « Site »). Le Client s’engage à remplir le bon de commande avec précision et à renseigner les différentes rubriques existantes (adresse de facturation, adresse de livraison, mode de paiement, etc.). Il recevra, après le paiement, un email lui confirmant les détails et modalités de sa commande.<br>

La commande ne devient valide que si l’ensemble des informations demandées au Client est renseigné. Cabosse & Associés ne pourra honorer une commande :<br>

- si les informations transmises par le Client sont incomplètes ou anormales,<br>

- en cas de manquement du Client à l'une de ses obligations ou,<br>

- pour toute autre raison légale.<br>

Si la société rencontre un problème pour honorer la commande, elle s’engage à informer le Client dans les deux (2) jours ouvrés qui suivent la saisie de la commande.<br>

<h5>2.2 Validation de la commande</h5>

<p>Avant le paiement de la commande, le Client déclare avoir pris connaissance et accepté les présentes CGV. La validation de la commande vaut donc acceptation sans réserve des présentes CGV.</p>

<h5>2.3 Disponibilité des produits</h5>

<p>Les produits vendus sur le site sont proposés dans la limite des stocks disponibles et des exceptions signalées.<br>

Dans l'éventualité d'une indisponibilité de produit après validation de la commande, Cabosse & Associés en informera le Client dans les meilleurs délais par téléphone ou par email afin de convenir avec lui :<br>

- de le rembourser du montant de sa commande ou,<br>

- de décaler la livraison en attendant le réapprovisionnement de ce produit, lorsque cela est possible.<br>

Le Client décharge Cabosse et Associés de toute responsabilité en cas de non disponibilité totale ou partielle des produits commandés.

<h4>Article 3 <br> Prix</h4><br>

<h5>3.1 Prix des produits</h5>

<p>Les prix des produits vendus sur le Site sont indiqués en euros toutes taxes comprises (TVA + toutes autres taxes) au départ de la société.

Les prix s’entendent hors participation aux frais de traitement et d'expédition. Les tarifs de livraison dépendent du mode de livraison choisi (expédition courrier ou livraison par coursier), ainsi que du lieu de destination, du poids et du volume du colis. Ils comprennent une participation au coût de préparation du colis et au frais de transport. Pour toute question, le service clientèle de Cabosse & Associés est à votre disposition.</p>

<h5>3.2 Taxes</h5>

<p>Tous les prix sont toutes taxes françaises comprises (TVA française et autres taxes applicables), sauf indication contraire, telles que ces taxes existent à la date de l'acceptation de la commande par le Client.

Des droits de douane ou autres taxes locales ou droits d’importation ou taxes d’état sont susceptibles d’être exigibles dans certains cas. Ces droits et sommes ne relèvent pas du ressort de Cabosse & Associés. Ils seront à la charge du Client et relèvent de sa responsabilité (déclarations, paiement aux autorités compétentes, etc.). Cabosse & Associes invite à ce titre le Client à se renseigner sur ces aspects auprès des autorités locales correspondantes. Les frais de télécommunication nécessaires à l’accès aux sites Internet de Cabosse & Associes sont à la charge du Client. Le cas échéant, les frais de livraison également.</p>

<h5>3.3 Révision</h5>

<p>La société se réserve le droit de réviser ses prix à tout moment. Toutefois, les produits seront facturés sur la base des tarifs en vigueur au moment où le Client valide sa commande.</p>

<h4>Article 4 <br> Paiement de la commande</h4>

<p>Le règlement de la commande s'effectue en ligne par cartes bancaires : carte bleue, Visa, MasterCard, American Express, autres cartes bleues (Ecard bleue) ; ou par PayPal.

Le débit de la carte est immédiat. Il est effectué au moment du paiement en ligne de votre commande.
La monnaie utilisée pour la transaction est l’Euro. Le montant, débité du compte de la carte bancaire utilisée, dépendra du cours de l’Euro le jour du débit et des éventuels frais de change prélevés par la banque émettrice de la carte.

Afin de garantir la sécurité des paiements, les commandes peuvent faire l'objet de contrôles réguliers. Dans le cadre de cette procédure, nos services pourront être amenés à suspendre le traitement d'une commande et à contacter le Client ou le destinataire pour obtenir des justificatifs nécessaires au déblocage de la commande : justificatifs de domicile, d'identité ou de débit.
Dans le cas d’un retrait boutique, le client devra présenter les justificatifs nécessaires pour le retrait de sa commande : pièce d’identité et carte bancaire utilisée lors du paiement en ligne. Ces justificatifs devront correspondre aux coordonnées de livraison ou de facturation entrées lors de la commande ainsi que, le cas échéant, aux coordonnées du porteur de la carte de paiement utilisée.

La société se réserve la possibilité de suspendre l'exécution de toute commande faisant l'objet d'un incident de paiement, le Client étant redevable des frais encourus pour le recouvrement des sommes dues par lui en ce compris les frais raisonnables de justice.

Pour être enregistrée, la commande doit être réglée dans son intégralité. Les commandes non réglées ne peuvent être livrées. La facture correspondant à la commande passée est disponible dans la rubrique « Mon Compte ».</p>

<h4>Article 5 <br> Sécurisation</h4>

<p>Le Site fait l’objet d’un système de sécurisation. Le traitement des opérations de paiement est assuré par STRIPE. Cette solution est certifiée Fournisseur de services PCI de niveau 1. Il s’agit du niveau de certification le plus rigoureux du secteur des paiements. Cette certification renouvelée chaque année garantit un haut niveau de sécurité et d’intégrité de la plateforme. Tous les numéros de carte bancaire font l’objet d’un chiffrement AES-256 des données au repos. Les clés de chiffrement sont sauvegardées sur des machines distinctes. Aucun des serveurs et daemon internes de Stripe ne peut obtenir les numéros de carte bancaire en clair, mais ils peuvent émettre une requête pour que les cartes soient envoyées à un fournisseur de services figurant sur une liste autorisée statique. L’infrastructure de Stripe pour le stockage, le déchiffrement et la transmission des numéros de carte bancaire fonctionne dans un environnement d’hébergement distinct et ne partage pas d’informations d’identification avec les principaux services de Stripe (API, site Web, etc.).</p>

</h4>Article 6 <br> Livraison des produits</h4>

<h5>6.1 Zone de livraison</h5>

<p>Les envois sont assurés en France métropolitaine.</p>

</h5>6.2 Acheminement de la commande</h5>

<p>Les produits sont livrés à l'adresse de livraison que le Client a indiquée au cours du processus de commande.
Le Client est responsable des mentions relatives au nom et à l'adresse du destinataire qui doivent être précises, exactes et complètes (code de la porte, étage, téléphone, etc.) pour permettre une livraison, expédition courrier ou par coursier, dans les conditions normales.

Le réacheminement par courrier du colis à l’adresse de livraison initialement indiquée, à une nouvelle adresse de livraison ou vers un autre destinataire sera facturé au Client.

Les commandes indiquant une adresse en boîte postale ne pourront être prises en compte et traitées.</p>

<h5>6.3 Délais de livraison</h5>

<p>Les délais de livraison dépendent du lieu de destination et du mode de livraison choisi (expédition courrier ou livraison par coursier).
La livraison est garantie hors cas de force majeure, hors cas de grève des transporteurs, à condition que l’adresse de livraison soit précise, exacte et complète, à condition que la personne destinataire de la commande soit présente au moment de la livraison.

Les jours de livraison dépendent du transporteur choisi et de la saison.</p>


<h4>Article 7 <br> Droit de rétractation</h4>

<p>Le délai de rétractation de 14 jours ne s’applique pas pour les contrats de fourniture de produits périssables, agroalimentaires, tels que les produits vendus par le Site (article L221-28 du code de la consommation). Aussi, le Client ne saurait s’en prévaloir.

Toutefois, et dans la limite du possible, une modification ou une annulation de sa part pourra être prise en compte dans la mesure où le colis est en préparation et n’a pas encore été remis au transporteur. Cette possibilité est appréciable au cas par cas. En cas d’annulation, le Client se verra rembourser de sa commande.

En revanche, à partir du moment où le colis est expédié par courrier ou coursier, aucune modification ou annulation ne pourra être prise en compte et le prix versé ne sera pas restitué.</p>

<h4>Article 8 <br> Transfert de propriété et transfert de risques</h4>

Les produits demeurent la propriété de la société jusqu'au complet paiement du prix. Le transfert de propriété des produits au profit du Client ne prend effet qu’après complet paiement du prix par ce dernier.
La société assure la marchandise jusqu’au lieu de livraison. Le risque de transport est supporté par l’acheteur. Il appartient au destinataire de vérifier le colis en présence du livreur. En cas de dégât de livraison ou de manquant, il précisera ses réserves sur le bon de livraison.</p>

<h4>Article 9 <br> Réclamation et remboursement</h4>

<h5>9.1 Réclamation</h5>

<p>Toute réclamation devra, pour être prise en compte, intervenir dans les deux (2) jours suivant la réception, compte tenu du caractère périssable des produits.

Les réclamations sont à adresser :

par voie postale à l’adresse de la société, ou bien par courrier électronique via le formulaire situé dans la rubrique « Contact ».

Toute réclamation devra être motivée et accompagnée des justificatifs du préjudice subi (lettre de transport, photos du colis reçu…).</p>

<h5>9.2 Remboursement</h5>

<p>Après l’analyse et l’acceptation de la réclamation par la société, celle-ci s’engage à rembourser le Client. Tout remboursement sera effectué dans les meilleurs délais et au plus tard dans les 30 jours suivant la date à laquelle le droit a été exercé.

Le remboursement s'effectuera sur proposition de la société par crédit sur le compte bancaire du Client ayant passé la commande.

Les avantages obtenus lors de l'achat de produit seront annulés en cas de remboursement dudit produit.</p>


{% endblock %}