{% extends 'base.html.twig' %}

{% block title %} Horaires{% endblock %}

{% block main %}

<h2 class="horaires">Horaires d'ouverture :
<p>Mardi - vendredi : 8 - 18 h</p>
<p>Samedi : 8 - 15 h</p>
<p>Fermé le lundi.</p></h2>

{% endblock %}