{% extends 'base.html.twig' %}

{% block title %} Horaires{% endblock %}

{% block main %}

<h2 class="horaires">Horaires d'ouverture :<br>Mardi - vendredi : 8 - 18 h<br>Samedi : 8 - 15 h<br>Fermé le lundi.<br><br></h2>

{% endblock %}