{% extends 'base.html.twig' %}

{% block title %}Nous contacter{% endblock %}

{% block main %}

<div class="nous_contacter">
    <div>
            Notre adresse : 7, rue de la Porte Grosset, 41130 Selles-sur-Cher<br>
            Numéro de téléphone: 02 03 04 05 06
    </div><br>

    <div>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2707.005761387029!2d1.5552690999999998!3d47.2751419!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47fb45fa52004cd9%3A0xcb8d85aefbbd591!2s7%20Rue%20de%20la%20Prte%20Grosset%2C%2041130%20Selles-sur-Cher!5e0!3m2!1sfr!2sfr!4v1681894006540!5m2!1sfr!2sfr" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div><br>

    <button class="bouton_type" id="contact"><a href="mailto:info@bc-sissi.fr"></a>Ecrivez-nous !</button>
</div>

{% endblock %}