{% extends 'base.html.twig' %}

{% block title %}Password Reset Email Sent{% endblock %}

{% block main %}
   <div class="container">
    <p>
        Si votre adresse mail est déjà enregistrée, vous allez recevoir un email avec un lien pour réinitialiser votre mot de passe. 
        Le lien va expirer dans {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.
    </p>
    <p>Si vous ne recevez pas notre email, veuillez vérifer votre dossier spam. <a href="{{ path('app_forgot_password_request') }}">Essayez encore une fois</a>.</p>
    </div>
{% endblock %}
