
        <ul id="mentions"> 
            <li><a class="footer" href="/conditions">Conditions générales</a></li><br>
            <li><a class="footer" href="/nous_contacter">Nous contacter</a></li><br>
            <li><a class="footer" href="/mentions">Mentions légales</a></li><br>
            <li><a class="footer" href="/horaires">Horaires d'ouverture</a></li> 
        </ul>

        <ul id="rs"> 
            <li><a  href="https://fr-fr.facebook.com/" target="blank" rel="noreferrer noopener"><img id="fb" class="reseau-soc1"     src=" {{ asset("./assets/facebook.png") }}" alt="Facebook"></a></li><br>
            <li><a  href="https://twitter.com/?lang=fr" target="blank" rel="noreferrer noopener"><img id="twitt" class="reseau-soc3" src=" {{ asset("./assets/twitter.png") }}"  alt="Twitter"></a></li>
            <li><a  href="https://www.instagram.com/?hl=fr" target="blank" rel="noreferrer noopener"><img id="inst" class="reseau-soc2" src=" {{ asset("./assets/instagram.png") }}" alt="Instagram"></a></li><br>
        </ul>
    