<div id="popup" data-popup="popup-1">
    <div class="verify-window">
     <h2>Cookies</h2>
      <p>Notre site utilise des cookies <b>uniquement</b> pour le bon fonctionnement.</p>
        <p align="center">Pour continuer la navigation, cliquez sur "Oui".</p>

        <div class="button-yes" data-popup-close="popup-1">
           Oui
        </div>

        <a id="non" href="https://www.google.com/" target="_parent">
            <div class="button-no">
               Non
            </div>
        </a>
    </div>
</div>