<div id="popup" data-popup="popup-1">
    <div class="verify-window">
     <h2>Cookies</h2>
      <p>Notre site utilise des cookies pour le bon fonctionnement.</p>
        <p align="center">Je comprends.</p>

        <div class="button-yes" data-popup-close="popup-1">
           Oui
        </div>

        <a href="https://www.google.com/" target="_parent">
            <div class="button-no">
                Non
            </div>
        </a>
    </div>
</div>