@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

#biscuits_sales, #biscuits_sucres {

    width: 94%; 
    height: 500px; 
    margin: 2.5rem;
   
}

@media screen and (max-width: 978px) {
    #biscuits_sales, #biscuits_sucres {

        width: 100%; 
        height: 500px; 
        margin: 0;
       
    }
}