@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

#chocolat_noir, #chocolat_au_lait, #chocolat_blanc {
    width: 100%;
    height: 500px;
    margin-bottom: 1rem;
}

.chocolats {
    display: flex; 
    justify-content: space-around;
}
