@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

#friandises_categorie {

    width: 100%; 
    height: 500px; 
    margin-bottom: 1rem;
   
}

.friandises {

    display: flex; 
    justify-content: center;
}

@media screen and (max-width: 978px) {
    .friandises {

        width: 100%; 
        height: 500px; 
        margin: 0;
       
    }
}