body {
    background-color: white;
}

.enregistrement {
    color: black;

}

.nous_contacter, #contact, .map, .horaires {

    display: flex; 
    flex-wrap: wrap;
    flex-direction: column; 
    align-items: center;
    font-family: 'Great Vibes', cursive;
    font-size: 3rem;
}

#contact_bouton {
    margin-bottom: 2rem;
    margin-top: 1rem;
}

#contact {
    color: black;
}

.horaires {
    font-size: 5rem;
}

#conditions {
    color: var(--bs-heading-color,inherit);
    font-family: var(--bs-font-sans-serif);
}

#down {
    width: 1.5rem;
    }

#up {
    width: 2.5rem;
}

.up-arrow {
    display: flex;
    justify-content: center;

}

.show, #show{
    font-family: 'Great Vibes', cursive;
    color:black;
    font-size: 3rem
}

#main_show {

    font-size: 4rem
}

/* .contact {

} */