body {
    background-color: white;
}

.enregistrement {
    color: black;

}

.nous_contacter, #contact, .map, .horaires {

    display: flex; 
    flex-wrap: wrap;
    justify-content: center;
    font-family: 'Great Vibes', cursive;
    font-size: 3rem;
}

#contact {
    margin-bottom: 1rem;
}

.horaires {
    font-size: 5rem;
}

