{% extends 'base.html.twig' %}


{% block title %}Confirmation

{% endblock %}


{% block main %}

  <div>

    <div class="mt-5 p-5 border border-primary d-flex flex-column justify-content-center align-items-center">

      <h3>Votre commande n'a pas pu aboutir!!</h3>

      <h5>Votre carte n'a pas été débitée - réessayez dans 3 minutes!!</h5>

      <h5>Montant de votre commande :

        {{ orderTotal }}€</h5>

      <a class="btn btn-outline-primary mt-3" href="{{ path('app_stripe') }}">Retour à la page de paiement</a>

    </div>

  </div>

{% endblock %}