{% extends 'base.html.twig' %}

{% block title %}Utilisateur enregistré{% endblock %}

{% block main %}

<div class="container">
<h2>Vérifiez / modifiez vos coordonnées pour la livraison :</h2>

{{form(userForm)}}
</div>
{% endblock %}
